* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
  box-sizing: border-box;
}
body {
}
.todo {
  max-width: 100vw;
  min-height: 100vh;
  font-size: 16px;
}

.field {
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  &:focus {
    border-color: #dbdbdb;
  }
}

.button {
  background: #4DD599;
  border-radius: 4px;
  padding: 10px 20px;
  color: #ffffff;
  border: none;
  cursor: pointer;

  &:hover {
    background: darken(#4DD599, 10%);
  }
  &:active {
    background: darken(#4DD599, 15%);
  }
  
  &-grey {
    background-color: #F4F6F8;
    color: #9C9C9C;
    &:hover {
      background: darken(#F4F6F8, 10%);
    }
    &:active {
      background: darken(#F4F6F8, 15%);
    }
  }
  &:disabled {
    background: #d8d8d8;
  }
}